/*badge icons */
.badge-eat {
  background-color: #005fad;
  color: white;
}

.badge-play {
  background-color: #27aae1;
  color: white;
}

.badge-services {
  background-color: #f15a29;
  color: white;
}

.badge-shop {
  background-color: #03c350;
  color: white;
}

/* cards */
.card-img-top {
  height: 225px;
  width: 100%;
  display: block;
}

/* modal */
.icon {
  color: #03a550 !important;
}

.modal-body {
  margin: 0 auto;
}

.modal-body img {
  height: 400px;
  min-width: 100%;
}
